:root {
    background-color: #000;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
}

body {
    margin: 0;
    overflow: hidden;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

canvas {
    display: block;
    cursor: move;
}


.interface{
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 20%;
    background-color: #ffffff16;
    padding: 1%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    border-right: dashed 5px #ffffff51;

}